*~
*.orig
*.rej
*.pyc
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
lovizstore/public/media/cache/*
lovizstore/public/media/productos/*
lovizstore/public/media/slider/*
lovizstore/public/media/bloque/*

lovizstore/staticos/node_modules/*
lovizstore/staticos/bower_components/*

tmp
.DS_Store

db.sqlite3

lovizstore/local.py
lovizstore/config.py
