<footer>
    <div class="container">
      <div class="row">
        <div id="footer_colmna1" class="col-md-4 footer-block">
          <div id="suscribirse" class="footer-email">
            <h4>Se el Primero en saber de loviz delcarpio</h4>
            <div id="submit_email_wrapper" class="email_container">
              <form id="submit_form_email">
                <div class="email_input">
                  <input class="form-control" type="email" maxlength="50" placeholder="Ingresar tu correo">
                </div>
                <div class="email_submit">
                  <button type="submit" class="boton_email_subtit">
                    <span class="glyphicon glyphicon-menu-right"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="footer_colmna2"  class="col-md-3 footer-block-menu">
         <h4>Servicio al Cliente</h4>
         <ul class="menu">
          <li><a href="/p/envio_informacion/" class="link">Informacion de Envio</a></li>
          <li><a href="/p/faq/">Preguntas Frecuentes</a></li>
          <li><a href="">Politicas de Devolucion</a></li>
          <li><a href="">Tallas de Calzado</a></li>
          <li><a href="">Limpieza y Cuidado</a></li>
          <li><a href="">Contactenos</a></li>
         </ul>
        </div>
        <div id="footer_colmna3"  class="col-md-3 footer-block-menu" >
          <h4>Acerca de LovizDC</h4>
          <ul class="menu">
            <li><a href="">Acerca de Nosotros</a></li>
            <li><a href="">Que Hacemos</a></li>
            <li><a href="">Nuestras Marcas</a></li>
          </ul>
        </div>
        <div id="footer_colmna4"  class="col-md-2 footer-block-menu">
          <h4>Enlaces Rapidos</h4>
          <ul class="menu">
            <li><a href="">Todo el Catalogo</a></li>
            <li><a href="">Nuestras Ofertas</a></li>
            <li><a href="">Mi Cuenta</a></li>
            <li><a href="">Rastreo de Orden</a></li>
            <li><a href="">SITE MAP</a> </li>
            <li><a href="">Glosario de Terminos</a></li>
          </ul>
        </div>
        <div id="footer_colmna5"  class="col-md-12 footer-colmna5">
          <div class="bloque_social">
            <ul class="">
              <li>
                <a href="https://www.facebook.com/lovizdelcarpio/">
                  <span class="icon-facebook"></span>
                </a>
              </li>
              <li><span class="icon-twitter"></span></li>
              <li><span class="icon-instagram"></span></li>
              <li><span class="icon-youtube3"></span></li>
              <li><span class="icon-google-plus"></span></li>
              <li><span class="icon-pinterest"></span></li>
            </ul>
          </div>
          <div class="pie_pagina">
            <ul>
              <li class="derechos">
                © 2015 Loviz DelCarpio Boutique. Todos los Derechos Reservados
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>